<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>モウドウウェブ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <h1>モウドウウェブ</h1>
    <p>このサイトは、視覚障害者のためのウェブサービスです。どのサイトよりもスクリーンリーダーなどで分かりやすいページ、サービスを目指して作成しています。</p>
    <nav>
      <h2>メニュー</h2>
      <ul>
        <li><%= link_to 'トップページ', root_path %></li>
        <li><%= link_to 'モウドウウェブについて', feature_path %></li>
        <%# <li>フォーラム</li>
        <li>ウェブ検索</li>
        <li>ショッピング</li> %>
      </ul>
    </nav>
    <%= yield %>
  </body>
  <%# javascript_include_tag 'application' %>
</html>
