<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>モウドウウェブ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body style="max-width: 500px; margin: 0 auto; padding: 20px; font-size: 120%; font-family: sans-serif;">
    <h1><%= link_to 'モウドウウェブ', root_path %></h1>
    <%= yield %>
    <nav>
      <h2>サイトメニュー</h2>
      <ul>
        <li><p><%= link_to 'トップページ', root_path %></p></li>
        <li><p><%= link_to 'モウドウウェブについて', feature_path %></p></li>
        <li><p><%= link_to 'ログイン、ユーザー登録', login_path %></p></li>
        <%# <li>フォーラム</li>
        <li>ウェブ検索</li>
        <li>ショッピング</li> %>
      </ul>
    </nav>
  </body>
  <%# javascript_include_tag 'application' %>
</html>
